<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>sl06_pizzeria_users</display-name>
  <welcome-file-list>
    <welcome-file>LoginServlet</welcome-file>
  </welcome-file-list>
  
  
  <!--Comenta desde aquí si tu TOMCAT no está configurado para SSL 
  <security-constraint>  
		<web-resource-collection>
			<web-resource-name>Entire Application</web-resource-name>
				<url-pattern>/*</url-pattern>
			</web-resource-collection>
		<user-data-constraint>
  			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
Comenta hasta aquí si tu TOMCAT no está configurado para SSL -->

</web-app>