.delete-mod{
	margin-left: 9%;
	width: 100%;
}
/*yellow #f59c1a;*/
.bt{
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.bt-modificar{
	background-color: #f59c1a;
}
.bt-borrar{
	background-color: #f44336;
}.delete-mod input{
	margin-right: 2%;
	display: inline-block;
}